

:root {

    font-size: 62.5%;
    
    --White: hsl(0, 0%, 100%);

    --Stone: #f3e6d8;
    --Stone: hsl(30, 18%, 87%);
    --Stone: hsl(30, 10%, 34%);
    --Stone: #302d2c;

    --Brown: #854632;

    --Rose: #7b284f;
    --Rose: hsl(330, 100%, 98%);
    
    
    
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

img {
    max-width: 100%;
}

h1, h2 { 
    font-family: "Young Serif", serif;
    font-weight: 100;
}

body {
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: "Outfit", sans-serif;

    background-color: #f3e6d8;
    color: #302d2c;

    height: 190rem;
    padding: 3rem 0;

    line-height: 2;
    font-size: 3.6rex;
    font-weight: 400;
    
}

.container {
    width: 73.6rem;
    height: auto;
    margin: auto 5rem;
    padding: 3rem;

    border: 10rem;
    border-radius: 1rem;
    
    background-color: white;
    

    
}

.hero img {
    border-radius: 1rem;
}

.hero h1 {
    margin-top: 10px;
    font-size: 7.6rex;
}

.hero article {
    background-color: #fff4fa;
    color: #7b284f;

    border: 10rem;
    border-radius: 1rem;
    
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    
} 

.hero article li {
    font-size: 1.2rem;
    margin-left: 2rem;
}

.hero article p {
    font-size: 1.4rem;
    margin-left: 1.5rem;
}

#preparation-time {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-left: 1.5rem;
}

.hero ul {
    margin-left: 13px;
}

.hero p {
    color: #302d2c;
}

.ingredients {
    margin-bottom: 2rem;
}

.ingredients h2 {
    color: #854632;
}

.ingredients ul {
    color: #854632;
    
    margin-left: 2vh;
}
   
.ingredients li {
    font-size: 1.2rem;
}

.ingredients p {
    color: #302d2c;
    font-size: 1.5rem;
    margin-left: 0.6rem;
}

.instructions {
    margin-bottom: 2rem;
}

.instructions h2 {
    color: #854632;
}

.instructions ol {
    color: #854632;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    margin-left: 2.5vh;
}

.instructions p {
    font-weight: 400;
    color: #302d2c;
    margin-left: 1.5rem;
}

.rule {
    display:block; 
    padding:0; 
    margin: 10px 0; 
    width:100%; 
    height:1px; 
    background-color:#ddd
}

.nutrition {
    display:block; 
    padding:0; 
    margin: 10px 0; 
    width:100%; 
    height:20rem; 
    background-color:#ffffff;
}

.nutrition h2 {
    color: #854632;
}

.nutrition li {
    display: flex;
    margin-top: 2rem;
    margin-left: 3rem;
}

.nutrition h3 {
    width: 30rem;
    font-weight: 400;
    font-size: medium;
}

.nutrition span {
    color: #854632;
    font-weight: 600;
}

.attribution {
    margin-top: 18rem;
}